{% load staticfiles %}
<html>
    <head>
        <title>Instagram Miner</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ig_miner_app.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
        <script src="http://code.jquery.com/jquery.js"></script>
    </head>

    <body>

        <!-- Top Navbar -->
        <div>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="page-header">
                        <h1><a href="/">Instagram Miner</a></h1>
                            <ul class="nav navbar-nav">
                                <li><a href="{% url 'new_campaign' %}" class="top-menu">New Campaign</a></li>
                                <li><a href="{% url 'campaign_list' %}" class="top-menu">My Campaigns</a></li>
                            </ul>
                    </div>
                </div>
            </nav>
        </div>


        <!-- Body Content -->
        <div class="content container">
            <div class="row">
                <div>
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>