{% extends 'ig_miner_app/base.html' %}

{% block content %}

	<!-- Reminder of Campaign title & hashtag -->
	<div class="campaign">
		<h3><a href="{% url 'campaign_detail' pk=campaign.pk %}">{{campaign.Campaign_Title}}</a></h1>
		<p>#{{campaign.Hashtag}}</p>
		<p> <br> </p>
	</div>

	<!-- Results shown here -->
	<div class="results">

		{% for each in page_content %}

		<!-- Using Bootstrap's thumbnail capabilities for better display -->
		<div class="col-xs-6 col-md-3">
		    <a href={{ each.post_link }} class="thumbnail"><img src={{ each.img_url }} alt={{each.hashtag}}></a>
		    <div class="caption">
		        <a href="https://www.instagram.com/{{ each.img_owner }}"><h3>@{{ each.img_owner }}</h3></a>
		        <p>Want to use this image for product marketing?</p>
		        <button onclick="requestPermission()" class="button">Request Permission</button>
		        <p> <br><br><br> </p>

				<!-- Future build-out will allow user to contact photo's owner -->
				<script>
				function requestPermission() {
				    alert("This feature is coming soon!");
				}
				</script>
		    </div>
		</div>

		{% endfor %}

	</div>

	<!-- Using Bootstrap's pagination capabilities -->
	<div class="pagination">
		<div class="alert alert-warning" role="alert">
		    <span class="step-links">
		        {% if page_content.has_previous %}
		            <a href="?page={{ page_content.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		                Page {{ page_content.number }} of {{ page_content.paginator.num_pages }}    
		        </span>

		        {% if page_content.has_next %}
		            <a href="?page={{ page_content.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>

	</div>

{% endblock %}