{% extends 'ig_miner_app/base.html' %}

{% block content %}

	<div class="campaign">
		<h3><a href="{% url 'campaign_detail' pk=campaign.pk %}">Campaign: {{campaign.Campaign_Title}}</a></h1>
		<p>#{{campaign.Hashtag}}</p>
	</div>

	<hr>

	<div class="content">

		{% for each in content %}

		<div class="col-xs-6 col-md-3">
		    <a href={{ each.post_link }} class="thumbnail"><img src={{ each.img_url }} alt={{each.hashtag}}></a>
		    <div class="caption">
		        <h3>@{{ each.img_owner }}</h3>
		        <p>Want to use this image for product marketing?</p>
		        <button onclick="requestPermission()" class="button">Request Permission</button>
		        <p> <br><br><br> </p>


				<script>
				function requestPermission() {
				    alert("This feature is coming soon!");
				}
				</script>
		    </div>
		</div>


		{% endfor %}

	</div>

{% endblock %}