h1 a {
	font-family: Slabo;
}

h3 {
	font-family: Slabo;
}

h3 a {
	font-family: Slabo;
}

body {
    padding-left: 15px;
    padding-top: 150px;
}

/* Centers the caption under its respective photo */
.caption {
	margin: auto;
	text-align: center;
}

/* "Request permission" buttons within each result-photo's caption */
.button {
    background-color: #428bca; 
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

/* Surrounds the pagination functionality */
.alert {
    display: inline-block;
    margin: 0 auto;
    vertical-align: center;
}

